In [1]:
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

In [2]:
# 포토자료
df= pd.read_csv('문화체육관광부_정책브리핑_포토_20221114.csv',encoding='cp949')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39409 entries, 0 to 39408
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기사글번호       39409 non-null  int64
 1   주제코드        39409 non-null  object
 2   소속코드        39409 non-null  object
 3   부모기사글번호     39409 non-null  int64
 4   기사글제목       39409 non-null  object
 5   기사글부제목      3293 non-null   object
 6   기사글내용       26605 non-null  object
 7   기사글태그정보     25653 non-null  object
 8   기자기수아이디     120 non-null    object
 9   사진기제작자코드    19668 non-null  object
 10  사진기기기종류명    19267 non-null  object
 11  촬영지역명       28265 non-null  float64
 12  촬영지역상세주소    28159 non-null  object
 13  촬영날짜정보      28265 non-null  object
 14  촬영행위자명      27677 non-null  object
 15  썸네일저장주소     29073 non-null  object
 16  역사일자        11732 non-null  float64
 17  이력년월        11732 non-null  object
 18  대표사진내용      8106 non-null   object
 19  기사글분류코드     476 non-null    object
 20  공공누리자유사용여부  39409 non-null  object
 21  공공누리유형코드    4363 non-null   object
 22  사진출처정보      27436 non-null  object
 23  부가정보        5 non-null      float64
 24  상세주소        823 non-null    object
 25  상태코드        39409 non-null  object
 26  최초승인일시      39395 non-null  object
 27  승인일시        39395 non-null  object
 28  정렬순서        39187 non-null  float64
 29  추천수         39409 non-null  int64
 30  조회수         39409 non-null  int64
 31  최초등록자아이디    39409 non-null  object
 32  최초등록일시      39409 non-null  object
 33  최종수정자아이디    19188 non-null  object
 34  최종수정일시      39409 non-null  object
 35  날짜표시구분      7207 non-null   float64
dtypes: float64(5), int64(4), object(27)
memory usage: 10.8+ MB

In [ ]:
classifications= df.filter(regex='분야') #정첵브리핑>포토

In [15]:
if df.filter(regex= 'type')is not None: #멀티미디어 & 신문/잡지
    type= df.filter(regex= 'type')
elif df.filter(regex= '글제목') is None:
    type= ['None']*len(title)

In [13]:
if df.filter(regex= '글제목') is not None: #제목
    title=df.filter(regex= '글제목')
elif df.filter(regex= '글제목') is None:
    title=df.filter(regex= '부제목')

In [ ]:
subject= df9.filter(regex= '주제') #주제어 or 테그정보

In [ ]:
description= df9.filter(regex= '글내용') #내용

In [ ]:
publisher= df9.filter(regex= '소속') #기관

In [ ]:
contributors= df9.filter(regex= '등록아이디') # 저자

In [ ]:
date= df9.filter(regex= '등록일') # 등록일

In [ ]:
la= ['ko']*len(title) #언어

In [ ]:
url= df9.filter(regex= '썸네일') #홈페이지 주소

In [ ]:
format= df9.filter(regex= '') #파일 형식

In [ ]:
relat=  df9.filter(regex= '') #참고자료

In [ ]:
addr= df9.filter(regex= '찰영지역') #주소

In [ ]:
right= df9.filter(regex= '적용여부') #이용 조건

In [16]:
type

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[39409 rows x 0 columns]