In [39]:
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 정책자료
df9= pd.read_csv('문화체육관광부_정책브리핑_정책자료_20221026.csv',encoding='cp949')

In [3]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24394 entries, 0 to 24393
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   정책자료실뉴스아이디           24394 non-null  int64
 1   정책자료실메타아이디           24394 non-null  object
 2   정책자료실여부에이치티엠엘(HTML)  24394 non-null  object
 3   정책자료실메인제목            24394 non-null  object
 4   정책자료실본문내용            22615 non-null  object
 5   정책자료실등록일자            24394 non-null  object
 6   정책자료실등록아이디           9327 non-null   object
 7   정책자료실수정일자            13429 non-null  object
 8   정책자료실연설자이름           11389 non-null  object
 9   정책자료실연설자일자           18965 non-null  object
 10  정책자료실외부사이트아이디        6126 non-null   object
 11  공공저작물자유이용적용여부        24394 non-null  object
 12  공공저작물유형              24394 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.4+ MB

In [50]:
classifications= df9.filter(regex='분야')
classifications.isnull()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[24394 rows x 0 columns]

In [51]:
classifications= df9.filter(regex='분야') #정책브리핑>정책자료

In [5]:
type= df9.filter(regex= 'type')

In [6]:
title= df9.filter(regex= '제목')

In [7]:
subject= df9.filter(regex= '서브')

In [8]:
description= df9.filter(regex= '내용')

In [9]:
publisher= df9.filter(regex= '외부사이트')

In [10]:
contributors= df9.filter(regex= '등록아이디')

In [11]:
date= df9.filter(regex= '등록일자')

In [12]:
la= ['ko']*len(title)

In [13]:
url= df9.filter(regex= 'Url')

In [14]:
Format= df9.filter(regex= '에이치티엠엘')

In [15]:
relat=  df9.filter(regex= '메타아이디')

In [16]:
addr= df9.filter(regex= '주소')

In [17]:
right= df9.filter(regex= '적용여부')

In [30]:
classifications

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[24394 rows x 0 columns]

In [34]:
data= pd.concat([classifications, type, subject, title],axis=1)

In [35]:
data

      공공저작물유형                                    정책자료실메인제목
0          유형                          금융실명제의 생활화 - 근검저축 편
1          유형                                 세계화 - 장인정신 편
2          유형                                 세계화 - 환경보호 편
3          유형                             금융종합과세 안내 - 부부 편
4          유형                                  세계화 - 유길준 편
...       ...                                          ...
24389      유형  [Vol.729] 감염재생산지수 9주만에 1 넘어…“겨울철 재유행 철저 대비”
24390      유형                       제40회 대통령기 이북도민 체육대회 축사
24391      유형                     「청산리 대첩 전승 102주년 기념사」 축사
24392      유형                       제42주년 전북도민의 날 기념식 영상축사
24393      유형                2023년도 예산안 및 기금운용계획안 대통령 시정연설

[24394 rows x 2 columns]